In [ ]:
CREATE TABLE Users ( name VARCHAR(128), email VARCHAR(128) )

INSERT INTO Users (name, email) VALUES ('Kristin', 'kf@umich.edu')
# Inserta en la tabla Users en las columnas name y email los valores entre comillas

In [ ]:
DELETE FROM Users WHERE email='ted@umich.edu'

In [1]:
DELETE FROM Users WHERE email='fred@umich.edu'

SyntaxError: invalid syntax (2155145767.py, line 1)

In [2]:
UPDATE Users SET name='Charles' WHERE email='csev@umich.edu'

SyntaxError: invalid syntax (1603368588.py, line 1)

In [3]:
SELECT * FROM Users

SyntaxError: invalid syntax (3309862681.py, line 1)

In [ ]:
SELECT * FROM Users WHERE email = 'csev@umich.edu'

In [ ]:
SELECT * FROM Users ORDER BY email

In [ ]:
SELECT * FROM Users ORDER BY name

In [ ]:
SELECT COUNT(*) FROM Users

In [ ]:
CREATE TABLE Genre (
    id       INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name     TEXT
)

In [ ]:
CREATE TABLE Album (
    id         INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER, 
    title       TEXT
)

CREATE TABLE Track (
    id         INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title       TEXT,
    album_id  INTEGER, 
    genre_id  INTEGER,
    len INTEGER,
    rating INTEGER.
    count INTEGER,
)